AutoPixel/Library/
AutoPixel/Temp/
AutoPixel/.idea/
AutoPixel/.vs/
*.sln
*.csproj
*.user
AutoPixel/obj/
AutoPixel/iosProj/
AutoPixel/Packages/packages-lock.json
AutoPixel/ProjectSettings/ProjectVersion.txt
